<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rainbow 7 Siege</title>
    <link href="../Styles/Home.css" rel="stylesheet" />
    <link href="../Styles/Maps.css" rel="stylesheet" />
  </head>
  <body>
    <div class="nav-top">
      <img class="nav-top-img" src="../Assets/logo_gold.png" />
    </div>
    <div class="navbar">
      <div class="navbar-content">
        <div class="left">
          <a href="Home.html">Home</a>
          <div class="right">
            <a href="PreOrder.html">
              <button class="btn preorder">Pre-Order</button>
            </a>
          </div>
          <nav>
            <ul>
              <li>
                <a class="dropdown-text" href="#">Game Info </a>
                <ul class="dropdown-list">
                  <li><a href="Maps.html">Maps</a></li>
                  <li><a href="Operators.html">Operators</a></li>
                  <li><a href="Quarantine.html">Quarantine</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="map-content">
      <div class="map-title">
        MAP POOL
      </div>
      <hr class="map-border" />
      <div class="image-list" id="image-list"></div>
    </div>
    <div class="footer">
      <div class="content-footer">
        POWERED BY UBIPOST
      </div>
    </div>
  </body>
  <script src="../Scripts/jquery-3.5.1.min.js"></script>
  <script src="../Scripts/Navbar.js"></script>
  <script src="../Scripts/Maps.js"></script>
</html>
