<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rainbow 7 Siege</title>
    <link href="../Styles/Home.css" rel="stylesheet" />
    <link href="../Styles/Quarantine.css" rel="stylesheet" />
  </head>
  <body>
    <div class="nav-top">
      <img class="nav-top-img" src="../Assets/logo_gold.png" />
    </div>
    <div class="navbar">
      <div class="navbar-content">
        <div class="left">
          <a href="Home.html">Home</a>
          <div class="right">
            <a href="PreOrder.html">
              <button class="btn preorder">Pre-Order</button>
            </a>
          </div>
          <nav>
            <ul class="dropdown-list">
              <li>
                <a class="dropdown-text" href="#">Game Info </a>
                <ul>
                  <li><a href="Maps.html">Maps</a></li>
                  <li><a href="Operators.html">Operators</a></li>
                  <li><a href="Quarantine.html">Quarantine</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="quarantine-content">
      <div class="quarantine-title">
        NEW MODE: RAINBOW SEVEN QUARANTINE
      </div>
      <div class="quarantine-image">
        <img src="../Assets/Quarantine.JPG" />
      </div>
      <div class="quarantine-description">
        Hello Soldiers! Big news is coming today. Yes, we happily announce that
        RAINBOW SEVEN QUARANTINE has been officially available in the game.This
        new mode will be played by 5 players as a team. The story begin from a
        city called Eternal which has been filled with full of zombies was being
        quarantineed .You and your team have to compelete each point within the
        story by fighting against the zombie and helping the other trapped
        people before they got infected. Only certain operator will be useable
        in this mode.Wanna know more? GO GRAB YOURS NOW by
        <a class="redirect" href="PreOrder.html">clicking here</a><br />
      </div>
      <div>Release date: 5 June 2020</div>
      <br />
      <div>Teaser Image</div>
      <div class="image-list">
        <img id="image1" src="../Assets/Quarantine/patriots.jpg" />
        <img
          id="image2"
          src="../Assets/Quarantine/r6_quarantine_890x520-700x409.jpg"
        />
        <img
          id="image3"
          src="../Assets/Quarantine/rainbow-six-quarantine-release-date-900x506.jpg"
        />
        <img
          id="image4"
          src="../Assets/Quarantine/Rainbow-Six-Quarantine.jpg"
        />
        <img
          id="image5"
          src="../Assets/Quarantine/rainbow-six-siege-outbreak-breach.jpg"
        />
      </div>
      <img class="image-display" src="../Assets/Quarantine/patriots.jpg" />
    </div>
    <div class="footer">
      <div class="content-footer">
        POWERED BY UBIPOST
      </div>
    </div>
  </body>
  <script src="../Scripts/jquery-3.5.1.min.js"></script>
  <script src="../Scripts/Quarantine.js"></script>
  <script src="../Scripts/Navbar.js"></script>
</html>
